.quiz_settings_panel{
	width:35%;
    margin-left:5%;
    margin-right:5%;
	height:200px;
	display:inline-block;
	
	&--blue{
		background-color:blue;
	}
	&--green{
		background-color:green;
	}
	&--orange{
		background-color:orange;
	}
	&--yellow{
		background-color:yellow;
	}
}
.quiz_settings_panel--active{
	background-color:red;   
}